<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Haulmont</h1>
    <div>
      <button mat-button routerLink="client">Клиенты</button>
<!--      <mat-menu #clientMenu="matMenu">-->
<!--        <button mat-menu-item routerLink="/create/client">Добавить</button>-->
<!--        <button mat-menu-item routerLink="/update/client">Обновить</button>-->
<!--        <button mat-menu-item routerLink="/delete/client">Удалить</button>-->
<!--      </mat-menu>-->
    </div>
    <div>
      <button mat-button routerLink="credit">Кредиты</button>
<!--      <mat-menu #creditMenu="matMenu">-->
<!--        <button mat-menu-item routerLink="/create/credit">Добавить</button>-->
<!--        <button mat-menu-item routerLink="/update/credit">Обновить</button>-->
<!--        <button mat-menu-item routerLink="/delete/credit">Удалить</button>-->
<!--      </mat-menu>-->
    </div>
    <div>
      <button mat-button routerLink="credit-offer">Кредитные предложения</button>
<!--      <mat-menu #creditOfferMenu="matMenu">-->
<!--        <button mat-menu-item routerLink="/create/credit-offer">Добавить</button>-->
<!--        <button mat-menu-item>Обновить</button>-->
<!--        <button mat-menu-item>Удалить</button>-->
<!--      </mat-menu>-->
    </div>
    <div>
      <button mat-button routerLink="payment-schedule">Графики платежей</button>
<!--      <mat-menu #paymentMenu="matMenu">-->
<!--        <button mat-menu-item>Добавить</button>-->
<!--        <button mat-menu-item>Обновить</button>-->
<!--        <button mat-menu-item>Удалить</button>-->
<!--      </mat-menu>-->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
