<mat-form-field appearance="fill" style="width: 25%">
  <mat-label>Клиенты</mat-label>
  <mat-select (ngModelChange)="onChange($event.id)" [ngModel]="clientId">
    <mat-option></mat-option>
    <mat-option *ngFor="let option of clients"
                [value]="option">{{ option.lastName + ' ' + option.firstName + ' ' + option.patronymic }}</mat-option>
  </mat-select>
</mat-form-field>
<p>
  <button (click)="deleteClient(clientId)" [disabled]="clientId === undefined" color="primary" mat-raised-button>
    Добавить
  </button>
</p>
