<h1 mat-dialog-title class="text-center"><strong>{{action}}</strong></h1>
<div [formGroup]="clientForm" mat-dialog-content class="text-center">
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Фамилия</mat-label>
        <label>
          <input [(ngModel)]="local_data.lastName" formControlName="lastName" matInput placeholder="Введите фамилию">
        </label>
        <mat-error *ngIf="clientForm.get('lastName').invalid">Поле недействительно</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Имя</mat-label>
        <label>
          <input [(ngModel)]="local_data.firstName" formControlName="firstName" matInput placeholder="Введите имя">
        </label>
        <mat-error *ngIf="clientForm.get('firstName').invalid">Поле недействительно</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Отчество</mat-label>
        <label>
          <input [(ngModel)]="local_data.patronymic" formControlName="patronymic" matInput
                 placeholder="Введите отчество">
        </label>
        <mat-error *ngIf="clientForm.get('patronymic').invalid">Поле недействительно</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Номер телефона</mat-label>
        <label>
          <input [(ngModel)]="local_data.phoneNumber" formControlName="phoneNumber" matInput maxlength="11"
                 minlength="11" placeholder="Введите номер">
        </label>
        <mat-error *ngIf="clientForm.get('phoneNumber').invalid">Поле недействительно</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <label>
          <input [(ngModel)]="local_data.email" formControlName="email" matInput placeholder="pat@example.com">
        </label>
        <mat-error *ngIf="clientForm.get('email').invalid">Поле недействительно</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Номер паспорта</mat-label>
        <label>
          <input [(ngModel)]="local_data.passportNumber" formControlName="passportNumber" matInput maxlength="6"
                 minlength="6">
        </label>
        <mat-error *ngIf="clientForm.get('passportNumber').invalid">Поле недействительно</mat-error>
      </mat-form-field>
    </p>
  </div>
  <ng-template #elseTemplate>
    Уверены, что ходите удалить
    <b>{{local_data.lastName + ' ' + local_data.firstName + ' ' + local_data.patronymic}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button (click)="doAction()" mat-button *ngIf="action === 'Delete'">{{action}}</button>
  <button (click)="doAction()" mat-button *ngIf="action !== 'Delete'"
          [disabled]="clientForm.invalid">{{action}}</button>
  <button (click)="closeDialog()" color="warn" mat-button mat-flat-button>Cancel</button>
</div>
