<form [formGroup]="creditForm">
  <div class="text-center">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Название</mat-label>
        <label>
          <input formControlName="name" matInput placeholder="Введите название кредита">
        </label>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="creditForm.get('name').invalid">loanLimit</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Лимит кредита</mat-label>
        <label>
          <input formControlName="loanLimit" matInput placeholder="Введите лимит кредита">
        </label>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="creditForm.get('loanLimit').invalid">sloanLimit</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Ставка кредита</mat-label>
        <label>
          <input #input formControlName="interestRate" matInput maxlength="2" minlength="1"
                 placeholder="Введите ставку кредита">
        </label>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="creditForm.get('interestRate').invalid">interestRate</mat-error>
      </mat-form-field>
    </p>
    <br>
    <p>
      <button (click)="createCredit()" [disabled]="!creditForm.valid" color="primary" mat-raised-button>
        Добавить
      </button>
    </p>
  </div>
</form>
