<h1 mat-dialog-title class="text-center"><strong>{{action}}</strong></h1>
<div [formGroup]="creditOfferForm" mat-dialog-content class="text-center">
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <div class="container">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Клиенты</mat-label>
        <mat-select [(ngModel)]="local_data.client" formControlName="client">
          <mat-option></mat-option>
          <mat-option *ngFor="let option of clients"
                      [value]="option">{{ option.lastName + ' ' + option.firstName + ' ' + option.patronymic }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <div class="container">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Кредиты</mat-label>
        <mat-select [(ngModel)]="local_data.credit" formControlName="credit">
          <mat-option></mat-option>
          <mat-option *ngFor="let option of credits"
                      [value]="option">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="container" *ngIf="local_data.credit !== undefined">
      <mat-form-field appearance="legacy">
        <mat-label>Сумма кредита</mat-label>
        <label style="width: 100%">
          <input [(ngModel)]="local_data.creditAmount" formControlName="creditAmount" matInput
                 placeholder="Введите сумму кредита">
        </label>
        <mat-error *ngIf="creditOfferForm.get('creditAmount').invalid">creditAmount</mat-error>
      </mat-form-field>
    </div>
  </div>
  <ng-template #elseTemplate>
    Уверены, что ходите удалить <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button (click)="doAction()" mat-button *ngIf="action === 'Delete'">{{action}}</button>
  <button (click)="doAction()" mat-button *ngIf="action !== 'Delete'"
          [disabled]="creditOfferForm.invalid">{{action}}</button>
  <button (click)="closeDialog()" color="warn" mat-button mat-flat-button>Cancel</button>
</div>
