<br>
<div class="container">

  <div class="container">
    <button (click)="openDialog('Add',{})" color="primary" mat-button mat-flat-button>Добавить
      кредит
    </button>
  </div>

  <br>
  <div class="container">
    <table [dataSource]="dataSource" class="my-table mat-elevation-z8" mat-table style="width: 100%">

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Название</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="loanLimit">
        <th *matHeaderCellDef mat-header-cell> Лимит кредита</th>
        <td *matCellDef="let element" mat-cell> {{element.loanLimit}} </td>
      </ng-container>

      <ng-container matColumnDef="interestRate">
        <th *matHeaderCellDef mat-header-cell> Процентная ставка</th>
        <td *matCellDef="let element" mat-cell> {{element.interestRate}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell> Действия</th>
        <td *matCellDef="let element" class="action-link" mat-cell>
          <button mat-raised-button color="accent" (click)="openDialog('Update',element)">Изменить</button>
          |
          <button mat-raised-button color="warn" (click)="openDialog('Delete',element)">Удалить</button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
