<br>
<div class="text-center">
  <mat-form-field appearance="fill" style="width: 25%">
    <mat-label>Клиенты</mat-label>
    <mat-select (ngModelChange)="onChange($event)" [ngModel]="client">
      <mat-option></mat-option>
      <mat-option (click)="clientForm.controls['id'].setValue(client.id)"
                  *ngFor="let option of clients"
                  [value]="option">{{ option.lastName + ' ' + option.firstName + ' ' + option.patronymic }}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <br>
  <br>
  <form *ngIf="client !== undefined" [formGroup]="clientForm">
    <div class="text-center">
      <p>
        <mat-form-field appearance="legacy" style="width: 35%">
          <mat-label>Фамилия</mat-label>
          <label>
            <input [ngModel]="client.firstName" formControlName="lastName" matInput placeholder="Введите фамилию">
          </label>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="clientForm.get('lastName').invalid">{{getErrorLastNameMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Имя</mat-label>
          <label>
            <input [ngModel]="client.firstName" formControlName="firstName" matInput placeholder="Введите имя">
          </label>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="clientForm.get('firstName').invalid">{{getErrorFirstNameMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Отчество</mat-label>
          <label>
            <input [ngModel]="client.patronymic" formControlName="patronymic" matInput placeholder="Введите отчество">
          </label>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="clientForm.get('patronymic').invalid">{{getErrorPatronymicMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Номер телефона</mat-label>
          <label>
            <input #input [ngModel]="client.passportNumber" formControlName="phoneNumber" matInput maxlength="11"
                   minlength="11" placeholder="Введите номер">
          </label>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="clientForm.get('phoneNumber').invalid">{{getErrorPatronymicMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <label>
            <input [ngModel]="client.email" formControlName="email" matInput placeholder="pat@example.com">
          </label>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="clientForm.get('email').invalid">{{getErrorEmailMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Номер паспорта</mat-label>
          <label>
            <input #input [ngModel]="client.passportNumber" formControlName="passportNumber" matInput maxlength="6"
                   minlength="6">
          </label>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
          <mat-error *ngIf="clientForm.get('passportNumber').invalid">{{getErrorPassportNumberMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <br>
      <p>
        <button (click)="updateClient(clientForm)" [disabled]="!clientForm.valid" color="primary" mat-raised-button>
          Обновить
        </button>
      </p>
    </div>
  </form>
</div>
